{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link href="{% static 'css/styles/grsmu_diplom/main_page.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static 'js/main_page.js' %}"> </script>


<div class="container" style=>
<div class="col-md-8 offset-md-2">

  <div class="row">
<div class="container" style="margin-top: 15px;
    text-align: center;
    max-width: 1200px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(100px);
    padding-top: 20px;
    border-radius: 30px;
    padding-bottom:  20px;">
  <img src="{% static '/images/grsmu-logo.png' %}" alt="Profile Picture" width="150" height="150">
  <b style="color: #f2f2f2;
  background: #be0040;
  color: white;
  font-size: 35px;
  line-height: 60px;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Libre Baskerville', serif;">GRSMU_CHECK</b>
</div>
</div>


<div class="row">
  <div class="container" style="margin-top: 50px;
    text-align: center;
    max-width: 1200px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(100px);
    padding-top: 20px;
    border-radius: 30px;
    padding-bottom:  20px;">
    <div class="row"><h1>О проекте</h1></div>

      <div class="col-md-12" style="text-align: left">
          <p>Сайт представляет собой базу данных преподавателей "ГрГМУ". Здесь можно писать, а также читать отзывы других студентов о преподавателе в категориях "Занятие", "Лекция", "Экзамен".</p>
          <p>Можно оценить преподавателя по параметрам "Коммуникабельность", "Обучение", "Требовательность".</p>

        <ul style="list-style-type: none; padding-left: 0;">Особенности:
        <li>✍ Отзывы и комментарии к преподавателю. Нет необходимости спрашивать в беседах "как принимает?", "как ведет?", "отмечает?" и пр.</li>
          <li>👍 Оценки основных параметров. Можно быстро узнать мнение большого количества людей, о том, что из себя представляет преподаватель.</li>
          <li>❗ Весь список преподавателей разделен на кафедры. Вся информация взята с сайта ГрГМУ.</li>
          <li>🔒 Отзывы доступны только после регистрации и подтверждения аккаунта через MOODLE. Сделано это для того, чтобы удостовериться, что пользователь является студентом ГрГМУ и не подставлять ни авторов, ни преподавателей.</li>
        </ul>
      </div>
  </div>
</div>

  <div class="row">
      <div class="container" style="margin-top: 50px; text-align: center; max-width: 1200px; background-color: rgb(255 255 255 / 75%); backdrop-filter: blur(100px); padding-top: 20px; border-radius: 30px; padding-bottom:  20px;">
      <h1>Зарегистрироваться/Войти в аккаунт</h1>
      <a href="/user/register" class="btn btn-primary">РЕГИСТРАЦИЯ</a>
      <a href="/user/login" class="btn btn-primary">ВОЙТИ</a>
      </div>
  </div>



<div class="row">
  <div class="container" style="margin-top: 50px;
    text-align: center;
    max-width: 1200px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(100px);
    padding-top: 20px;
    border-radius: 30px;
    padding-bottom: 1px;">
  <h1>Найти преподавателя:</h1>
  <form class="top-search" method=POST action="{% url 'searching' %}">
  {% csrf_token %}
  <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="searched" style="max-width: 80%; display: inline;">
  <button class="btn btn-primary" type="submit">ИЩЕМ!</button>
  </form>

</div>
</div>
</div>
</div>

{% endblock %}