{% extends 'base.html' %}

{% block page_content %}

<div class="col-md-8 offset-md-2">
    <div class="container" style="max-width: 1200px; background-color: rgb(255 255 255 / 75%); backdrop-filter: blur(100px); padding-top: 20px; border-radius: 30px; padding-bottom: 1px">

    <h1>Изменение пароля</h1>
    <p>Введите новый пароль:</p>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Изменить</button>
    </form>
</div>
</div>
{% endblock %}