{% extends 'base.html' %}

{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>Войти</h1>
    <form method="POST">
        {% csrf_token %}
        <p>Логин: {{ login_form.username }}</p>
        <p>Пароль: {{ login_form.password }}</p>
        {% for message in messages %}
                <p style="color: turquoise">{{ message }}</p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
    <p class="text-center">Если у Вас еще нет аккаунта, <a href="/user/register">Регистрация</a></p>

</div>
{% endblock %}