{% load static %}
<link href="{% static 'css/styles/grsmu_diplom/messages.css' %}" rel="stylesheet" type="text/css" />


{% if messages %}
<div class="container" id="message-container" >
    <div class="row" id="message-row">
        <ul class="messages">
            {% for message in messages %}
            <p {% if message.tags %} class="msg msg-{{ message.tags }} msg-{{ message.tags }}-text"{% endif %}> {{ message }}</p>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}