{% extends 'base.html' %}
{% load static %}
{% block page_content %}


<script>
    $(document).ready(function(){
        $("input[type='radio']").click(function(){
        	var radioValue = $("input[name='profile_picture']:checked").val();
            if(radioValue){
                document.getElementById("picture-name").value = radioValue;
            }
        });
    });
</script>


	<br><br>
	<div class="container mx-auto" style="max-width: 1200px; background-color: rgb(255 255 255 / 75%); backdrop-filter: blur(100px); padding-top: 20px; padding-bottom: 15px; border-radius: 30px;">
	    <div class="row">
	    	<div class="col-md-3">
		    	<div class="card p-4">
			    	<h4 class="card-title font-weight-bold text-center">Привет, {{ user.username|title }}</h4>
		    	    <hr>
                    <div  class="card-text">
						{% if user.profile.profile_pic %}
						<p><img src="{% static user.profile.profile_pic %}" alt="Profile Picture" width="100" height="100"></p>
						{% else %}
						<p><img src="{% static 'images/user.jpg' %}" alt="Profile Picture" width="100" height="100"></p>
                       	{% endif %}
                        <p class="text-muted mb-0" style="font-size: 12px">Имя:</p>
                        <p>{{ user.username }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Email::</p>
                        <p>{{ user.email }}</p>
                        <p class="text-muted mb-0" style="font-size: 12px">Курс:</p>
                        <p>{{ user.profile.course }}</p>
						<div class="text-right">
							<button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#profileModal">Изменить</button>
						</div>
                    </div>
                </div>
				{% if group == 'Not_student' %}
			<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#VerificationModal">Подтвердить аккаунт</button>
				{% elif group == 'Student' %}
			<button type="button" class="btn btn-success">Аккаунт подтвержден!</button>
				{% endif %}
				{% if user.is_superuser %}
			<a href="/scraper/" class="btn btn-warning">Обновить базу данных</a>
				{% endif %}
		</div>
<!--			Табличка с отзывами-->
		    <div class="col-sm">
				<h4 class="card-title font-weight-bold text-left">Ваши отзывы</h4>
				{% for comment in page_obj %}
					<div class="row">
		    			<div class="card p-5">
		    	    		<hr>
                   			<div class="card-text">
                        		<p class="text-muted mb-0" style="font-size: 12px">{{ comment.teacher.name }}</p>
                        		<p>{{ comment.body }}</p>
								<p class="text-muted mb-0" style="font-size: 12px">{{ comment.created_on }}</p>
                    		</div>
							<form method="post" style="margin-bottom: -25px;">
            					{% csrf_token %}
            					<button type="submit" name="comment_delete" class="btn btn-danger">Удалить</button>
            					<input type="hidden" name="comment_pk" value="{{ comment.pk }}">
            					<a href="{% url 'comment_edit' comment.pk %}">Изменить</a>
            				</form>
                		</div>
					</div>
				{% endfor %}
				    <div class="pagination_rounded">
						<div class="step-links">
							<ul>
								{% if page_obj.has_previous %}
									<li><a href="?page=1" class="prev">&laquo; First</a></li>
									<li><a href="?page={{ page_obj.previous_page_number }}" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i>Prev</a></li>
								{% endif %}

								<li><span class="current">
									стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
								</span></li>

								{% if page_obj.has_next %}
									<li><a href="?page={{ page_obj.next_page_number }}" class="next"> Next <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
									<li><a href="?page={{ page_obj.paginator.num_pages }}" class="next">Last &raquo;</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
			</div>
<!--ФОРМА ПРОВЕРКИ MOODLE-->
		<div class="modal fade" tabindex="-1" id="VerificationModal" role="dialog">
	  		<div class="modal-dialog" role="document" >
		    	<div class="modal-content">
		      		<div class="modal-header">
			        	<h5 class="modal-title">Верификация аккаунта</h5>
			        	<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
			          		<span aria-hidden="true">&times;</span>
			        	</button>
		        	</div>
		        	<div class="modal-body">
			        	<form method="post" enctype="multipart/form-data">
			          		{% csrf_token %}
			          		<p>Логин MOODLE: {{ moodle_form.username }}</p>
			          		<p>Пароль MOODLE: {{ moodle_form.password }}</p>
							<small>Внимание! Введенные данные используются для разовой проверки и не сохраняются. Верификация аккаунта применяется для подтверждения того, что пользователь является студентом ГрГМУ.</small>
        			</div>
		      		<div class="modal-footer">
		        		<button type="submit" name="acc_verification" class="btn btn-primary">Проверить</button>
		        		</form>
		        	</div>
		    	</div>
	  		</div>
		</div>
<!--Форма для изменения данных профиля-->
	<div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Изменить</h5>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
			        	<span aria-hidden="true">&times;</span>
			        </button>
		        </div>
		        <div class="modal-body">
			        <form method="post" enctype="multipart/form-data">
			          	{% csrf_token %}
<!--			          	<p >Сменить фото: {{ profile_form.profile_pic }}</p>-->
			          	<p>Логин: {{ user_form.username }}</p>
        				<p>Email: {{ user_form.email }}</p>
        				<p>Курс: {{ profile_form.course }}</p>
						<a href="/user/password_reset">Сменить пароль</a>
						<p>Фото профиля:</p>
				  <div>
					{% for ph in profile_pics_list %}
					{% if ph == user.profile.profile_pic %}
					<input type="radio" id="pictureChoice1" name="profile_picture" value="{{ ph }}" checked>
					{% else %}
					<input type="radio" id="pictureChoice1" name="profile_picture" value="{{ ph }}">
					{% endif %}
					<label for="pictureChoice1"><img src="{% static ph %}" style="max-height: 100px;"></label>
				  	{% endfor %}
				  </div>
					<input type="hidden" id="picture-name" name="picture-name" value="0">
		        </div>
		      		<div class="modal-footer">
		        	<button type="submit" name = "user_change" class="btn btn-primary">Сохранить</button>
		        	</form>

		        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
		        </div>
		    </div>
	  	</div>
	</div>
  	</div>
  	</div>
{% endblock %}

