{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link href="{% static 'css/styles/rating/rating_main_page.css' %}" rel="stylesheet" type="text/css" />



<div class="col-md-8 offset-md-2">
    <div class="container" style="
    width: fit-content;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(100px);
    padding-top: 20px;
    border-radius: 30px; padding-bottom: 10px;">
        <h1 style="text-align: center;">РЕЙТИНГИ</h1>
        <hr>

        <h2 style="text-align: center;">Всего на сайте</h2>
        <div class="row">
        <div class="teacher-rating-card" style="font-size: 20px; text-align: center; cursor: default;">Оставлено комментариев: <p style="margin-bottom: 0px;"><b>{{ comments_count }}</b></p></div>
        <div class="teacher-rating-card" style="font-size: 20px; text-align: center; cursor: default;">Поставлено оценок: <p style="margin-bottom: 0px;"><b>{{ votes_count }}</b></p></div>
        <div class="teacher-rating-card" style="font-size: 20px; text-align: center; cursor: default;">Зарегистрировано пользователей: <p style="margin-bottom: 0px;"><b>{{ users_count }}</b></p></div>
        </div>
        <hr>

        <h2 style="text-align: center;">Самые комментируемые преподаватели</h2>
        <div class="row">
        {% for most_comment_teacher in most_comment_teachers %}
            {% cycle 'coin-gold' 'coin-silver' 'coin-bronze' as color silent  %}
            <div class="col-md-4">
            <a href="{% url 'demo_site_detail' most_comment_teacher.pk %}">
            <div class="teacher-rating-card" style = "min-height: 300px; background-image: url({{ most_comment_teacher.teacher_img.url }});">
                <img class = "img" src="{{ most_comment_teacher.teacher_img.url }}" alt="Teacher Picture" >
                <div class="medal" style="position: absolute; z-index: 10;">
                <div class="ribbon"></div>
                {% if most_comment_teacher.count < 100 %}
                <div class="coin" id="{{ color }}"><p class="teacher-rating-name" style="animation: none; font-size: 20px; z-index: 100; margin-top: 25%;">{{ most_comment_teacher.count }}</p></div>
                {% else %}
                <div class="coin" id="{{ color }}"><p class="teacher-rating-name" style="animation: none; font-size: 20px; z-index: 100; margin-top: 25%;">{{ most_comment_teacher.count }}</p></div>
                {% endif %}
                </div>
            </div>
            <p class="teacher-rating-name">{{ most_comment_teacher.name|title }}</p>
           </a>
            </div>
        {% endfor %}
        </div>
        <hr>



        <h2 style="text-align: center;">Самые оцениваемые преподаватели</h2>
        <div class="row">
        {% for most_votes_teacher in most_votes_teachers %}
            {% cycle 'coin-gold' 'coin-silver' 'coin-bronze' as color silent  %}
            <div class="col-md-4">
            <a href="{% url 'demo_site_detail' most_votes_teacher.pk %}">
            <div class="teacher-rating-card" style = "min-height: 300px; background-image: url({{ most_votes_teacher.teacher_img.url }});">
                <img class = "img" src="{{ most_votes_teacher.teacher_img.url }}" alt="Teacher Picture" >
                <div class="medal" style="position: absolute; z-index: 10;">
                <div class="ribbon"></div>
                {% if most_votes_teacher.count < 100 %}
                <div class="coin" id="{{ color }}"><p class="teacher-rating-name" style="animation: none; font-size: 20px; z-index: 100; margin-top: 25%;">{{ most_votes_teacher.count }}</p></div>
                {% else %}
                <div class="coin" id="{{ color }}"><p class="teacher-rating-name" style="animation: none; font-size: 20px; z-index: 100; margin-top: 25%;">{{ most_votes_teacher.count }}</p></div>
                {% endif %}
                </div>
            </div>
            <p class="teacher-rating-name">{{ most_votes_teacher.name|title }}</p>
           </a>
            </div>
        {% endfor %}
        </div>
        <hr>




        <h2 style="text-align: center;">Cамые комментирующие пользователи</h2>
        {% for user in most_comment_user %}
        {% cycle 'gold' 'silver' 'bronze' as trophy silent  %}
        {% cycle '#c7cdcd' '#c7cdcd6b' '#c7cdcd' as row_color silent  %}
        <div class="row" style="text-align: center; background: {{ row_color }}">
            <div class="col-md-3" style=" margin-bottom: 10px"><img class = "img" src="{% static 'images/' %}trophy-{{ trophy }}.png" alt="Cup Pic" style="padding-top: 10%;"></div>
            <div class="col-md-6"><p><h3 class="teacher-rating-name" style="font-size: x-large;">{{ user.username }}</h3></p><p><small>{{ user.profile.course }} курс</small></p></div>
            <div class="col-md-3"><p style="margin-bottom: 0px;"><small>комментариев</small></p><p><h3 style="font-size: x-large; margin-bottom: 0px;">{{ user.count }}</h3></p></div>
        </div>
        {% endfor %}
        <hr>


        <h2 style="text-align: center;">Cамые оценивающие пользователи:</h2>
        {% for user in most_votes_user %}
        {% cycle 'gold' 'silver' 'bronze' as trophy silent  %}
        {% cycle '#c7cdcd' '#c7cdcd6b' '#c7cdcd' as row_color silent  %}
        <div class="row" style="text-align: center; background: {{ row_color }}">
            <div class="col-md-3" style=" margin-bottom: 10px"><img class = "img" src="{% static 'images/' %}trophy-{{ trophy }}.png" alt="Cup Pic" style="padding-top: 10%;"></div>
            <div class="col-md-6"><p><h3 class="teacher-rating-name" style="font-size: x-large;">{{ user.username }}</h3></p><p><small>{{ user.profile.course }} курс</small></p></div>
            <div class="col-md-3"><p style="margin-bottom: 0px;"><small>оцениваний</small></p><p><h3 style="font-size: x-large; margin-bottom: 0px;">{{ user.count }}</h3></p></div>
        </div>
        {% endfor %}
        <hr>

        <h2 style="text-align: center;">Cамые залайканные комментарии</h2>
        {% for comment in most_liked_comment %}
        {% cycle 'gold' 'silver' 'bronze' as like silent  %}
        {% cycle '#c7cdcd' '#c7cdcd6b' '#c7cdcd' as row_color silent  %}
        <div class="row" style="text-align: center; background: {{ row_color }}">
            <div class="col-md-2" style=" margin-bottom: 10px"><img class = "img" src="{% static 'images/' %}like-{{ like }}.png" alt="Like Pic" style="padding-top: 10%;"></div>
            <div class="col-md-8" style="text-align: left;"><p><h3 class="teacher-rating-name" style="font-size: x-large; ">{{ comment.author }} <small>{{ comment.author.profile.course }} курс</small></h3></p>
                <a href="{% url 'demo_site_detail' comment.teacher.pk %}">{{ comment.teacher }}</a>
            <p>{{ comment.body }}</p>
            </div>
            <div class="col-md-2"><p style="margin-bottom: 0px;"><small>лайков</small></p><p><h3 style="font-size: x-large; margin-bottom: 0px;">{{ comment.count }}</h3></p></div>
        </div>
        {% endfor %}
        <hr>


        <h2 style="text-align: center;">Больше всего лайков собрали<br>(самые популярные пользователи)</h2>
        {% for user, count in most_liked_users.items %}
        {% cycle 'gold' 'silver' 'bronze' as like silent  %}
        {% cycle '#c7cdcd' '#c7cdcd6b' '#c7cdcd' as row_color silent  %}
        <div class="row" style="text-align: center; background: {{ row_color }}">
            <div class="col-md-3" style=" margin-bottom: 10px"><img class = "img" src="{% static 'images/' %}like-{{ like }}.png" alt="Cup Pic" style="padding-top: 10%;"></div>
            <div class="col-md-6"><p><h3 class="teacher-rating-name" style="font-size: x-large;">{{ user.username }}</h3></p><p><small>{{ user.profile.course }} курс</small></p></div>
            <div class="col-md-3"><p style="margin-bottom: 0px;"><small>всего лайков</small></p><p><h3 style="font-size: x-large; margin-bottom: 0px;">{{ count }}</h3></p></div>
        </div>
        {% endfor %}
        <hr>


        <h2 style="text-align: center;">Cамые комментрируемые кафедры</h2>
        {% for key, value in most_comment_departments.items %}
            {{ key.title }}: {{ value }}
        {% endfor %}
        <hr>

        <h2>Cамые оцененные кафедры:</h2>
        {% for key, value in most_votes_departments.items %}
            {{ key.title }}: {{ value }}
        {% endfor %}
        <hr>


</div>
</div>

{% endblock %}