{% extends "base.html" %}
{% block page_content %}
{% load static %}

<div class="col-md-8 offset-md-2">
    <h1>{{ department | title }}</h1>
    <hr>

</div>


<div class="container">
    <div class="row">
       {% for teacher in teachers %}
        <div class="col-md-4">
            <div class="teacher-card">
                <div class="card-body">
                    {% if not teacher.teacher_img %}
                    <img class = "img img-responsive" src="{{ teacher.teacher_img.url }}" alt="Teacher Picture" >
                    {% else %}
                    <img class = "img img-responsive" src="{% static 'images/teacher.jpg' %}" alt="Teacher Picture" >
                    {% endif %}
                    <a href="{% url 'demo_site_detail' teacher.pk %}" class="teacher-name">{{ teacher.name|title }}</a>
                    <div class="teacher-position">{{ teacher.position }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}