{% extends "base.html" %}
{% block page_content %}
{% load static %}


<script>
  $(document).ready(function(){console.log("a vot");})
  $(document).on('click', '#like', function(event){
    event.preventDefault();
    var pk = $(this).attr('value');
    console.log(pk);
    $.ajax({
      type: 'POST',
      url: '{% url "likes" %}',
      data: {
            'pk': pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
      dataType: 'json',
            success: function(response){
              $('#like-section'+pk).html(response['form'])
              console.log($('#like-section'+pk).html(response['form']));
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
})
</script>

<script>
  $(document).ready(function(){console.log("a votututututut");})
  $(document).on('click', '#dislike', function(event){
    event.preventDefault();
    var pk = $(this).attr('value');
    console.log(pk);
    $.ajax({
      type: 'POST',
      url: '{% url "dislikes" %}',
      data: {
            'pk': pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
      dataType: 'json',
            success: function(response){
              $('#like-section'+pk).html(response['form'])
              console.log($('#like-section'+pk).html(response['form']));
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
})
</script>


<div class="container" style="max-width: 1200px; background-color: rgb(255 255 255 / 75%); backdrop-filter: blur(100px); padding-top: 20px; border-radius: 30px; padding-bottom: 1px">
   <div class="top">
       <div class="row justify-content-md-center">
           <div class="col-md-auto">
           {% if teacher.teacher_img %}
           <img class = "img_detail" src="{{ teacher.teacher_img.url }}" alt="Teacher Picture" >
           {% else %}
           <img class = "img_detail" src="{% static 'images/teacher.jpg' %}" alt="Teacher Picture" >
           {% endif %}
           </div>

       <div class="col-md">
           <div class="row">
               <h1>{{ teacher.name }}</h1>
               <small>
                   {{ teacher.position }} |&nbsp;
                   Кафедра: <a href="{% url 'demo_site_department' teacher.department.title %}">
                   {{ teacher.department.title }}</a>
               </small>
               <p class="text-muted" style="font-size:12px">Коммуникабельность: {{ teacher.communication_average }} | Обучение: {{ teacher.teaching_average }} | Требовательность: {{ teacher.demanding_average }}</p>
           </div>
           <div class="row">
               <div class="col-md"> Коммуникабельность
                   <div class="pie" style="--p:{{ teacher.communication_average }};--c:#0d6efd;--b:8px"> {{ teacher.communication_average }}</div>
               </div>
               <div class="col-md"> Обучение
                   <div class="pie" style="--p:{{ teacher.teaching_average }};--c:#0d6efd;--b:8px"> {{ teacher.teaching_average }}</div>
               </div>
               <div class="col-md"> Требовательность
                   <div class="pie" style="--p:{{ teacher.demanding_average }};--c:#0d6efd;--b:8px"> {{ teacher.demanding_average }}</div>
               </div>
           <small>Количество голосов: {{ vote_count }}</small>
           </div>
       </div>
       </div>
   </div>

<!--    ОСТАВИТЬ КОММЕНТАРИЙ-->
    {% if user.is_authenticated %}
    <h3>Оставьте комментарий:</h3>
    <form action="/demo_site/teacher/{{ teacher.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ comment_form.body }}
        </div>
        <a class="btn btn-secondary" data-toggle="collapse" href="#collapse{{teacher.pk}}" role="button" aria-expanded="false" aria-controls="collapse{{teacher.pk}}">Оценка</a>
        <button type="submit" name="comment_left" class="btn btn-primary">Отправить</button>
    </form>
<!--VOTING-->
    <div class = "collapse" id = "collapse{{ teacher.pk }}">
        <div class="vote-card shadow">
            <h6>Оценить: {{ teacher.name }}</h6>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% for field in vote_form %}
                    <div class="row">
                        <div class="col-10" id="slider_{{field.name}}_{{teacher.pk}}" onclick="sliderUpdate('{{field.name}}', {{teacher.pk}})">
                            {{field.label}}
                            <p>{{field}}</p>
                        </div>
                        <div class="col-2 my-auto">
                            <h6 class="text-center"><span id="score_{{field.name}}_{{teacher.pk}}" class="text-primary">6</span></h6>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                    <button type="submit" name="score_submit" class="btn btn-secondary">Оценить</button>
                </div>
            </form>
        </div>
    </div>
<!--END VOTING-->
    {% else %}
    <div class="card">
        <div class="card-header">
        Оставить комментарий
        </div>
        <div class="card-body">
            <p class="card-text">Чтобы оставлять и читать комментарии необходимо войти в аккаунт!</p>
            <a href="/user/login" class="btn btn-primary">Войти</a>
        </div>
    </div>
    {% endif %}

<!--COMMENTS-->
    {% if group == 'Student' %}
    <h3>Комментарии:</h3>
    {% for comment in page_obj %}
        <div class="media g-mb-30 media-comment">
            {% if comment.author.profile.profile_pic %}
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 comment-img" src="{% static comment.author.profile.profile_pic %}" alt="Image Description">
                {% else %}
                <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 comment-img" src="{% static 'images/user.jpg' %}" alt="Image Description">
                {% endif %}
            <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                <div class="g-mb-15">
                    <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ comment.author }}</h5>
                    <span class="g-color-gray-dark-v4 g-font-size-12">{{ comment.author.profile.course }} курс {{comment.created_on.date }}</span>
                    <p>{{ comment.body }}</p>
                </div>
            {% if comment.author == request.user or request.user.is_superuser %}
                <form method="post" style="margin-bottom: -25px;">
                {% csrf_token %}

                <button type="submit" name="comment_delete" class="btn btn-danger" style="max-width: 43px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <input type="hidden" name="comment_pk" value="{{ comment.pk }}">
                <a href="{% url 'comment_edit' comment.pk %}" type="button" class="btn btn-secondary" style="max-width: 43px;"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a data-toggle="collapse" href="#collapse{{comment.pk}}" role="button" type="button" class="btn btn-primary" aria-expanded="false" aria-controls="collapse{{comment.pk}}" style="max-width: 43px; "><i class="fa fa-reply" aria-hidden="true"></i></a>
            {% else %}
                <a data-toggle="collapse" href="#collapse{{comment.pk}}" role="button" type="button" class="btn btn-primary" aria-expanded="false" aria-controls="collapse{{comment.pk}}" style="max-width: 43px; margin-bottom: -25px;"><i class="fa fa-reply" aria-hidden="true"></i></a>
            {% endif %}
                </form>

            <div id="like-section{{comment.pk}}">
                {% if request.user in comment.likes.all %}
                    {% include 'demo_site/like_section.html' with is_liked=True is_disliked=False %}
                {% elif request.user in comment.dislikes.all %}
                    {% include 'demo_site/like_section.html' with is_liked=False is_disliked=True %}
                {% else %}
                    {% include 'demo_site/like_section.html' with is_liked=False %}
                {% endif %}
            </div>

            </div>


        </div>
<!--ANSWERS-->
    <details>
    <summary style="text-align: center;">ответы <i class="fa fa-comments-o" aria-hidden="true"></i></summary>
    {% for answer in comment_answers %}
    {% if answer.comment == comment %}

                <div class="media g-mb-30 media-comment-answer">
                    {% if answer.author.profile.profile_pic %}
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 comment-answer-img" src="{% static answer.author.profile.profile_pic %}" alt="Image Description">
                        {% else %}
                        <img class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15 comment-answer-img" src="{% static 'images/user.jpg' %}" alt="Image Description">
                    {% endif %}
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                        <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">{{ answer.author }}</h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12">{{answer.created_on.date }}</span>
                            <p>{{ answer.body }}</p>
                        </div>
                    {% if answer.author == request.user or request.user.is_superuser %}
                        <form method="post" style="margin-bottom: -25px;">
                            {% csrf_token %}
                            <button type="submit" name="answer_delete" class="btn btn-danger" style="max-width: 43px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <input type="hidden" name="answer_pk" value="{{ answer.pk }}">
                        </form>
                    {% endif %}
                    </div>
                </div>
    {% endif %}
    {% endfor %}
                </details>


    <!--COMMENT ANSWER-->
    <div class = "collapse" id = "collapse{{comment.pk}}">
        <div class="vote-card shadow">
            <form method="post">
                {% csrf_token %}
                <p>{{answer_form.body}}</p>
                <div class="text-right">
                    <input type="hidden" name="comment_pk" value="{{ comment.pk }}">
                    <button type="submit" name="comment_answer" class="btn btn-outline-primary">Ответить</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
        <div class="pagination_rounded">
        <div class="step-links">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1" class="prev">&laquo; First</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i>Prev</a></li>
                {% endif %}

                <li><span class="current">
                    {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span></li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="next"> Next <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}" class="next">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

<!--COMMENT ANSWER-->
    {% elif group == 'Not_student' %}
    <div class="card">
        <div class="card-header">
            Комментарии
        </div>
        <div class="card-body">
            <p class="card-text">Чтобы просматривать комментарии необходимо подтвердить аккаунт!</p>
            <a href="/user/profile" class="btn btn-primary">Подтвердить</a>
        </div>
    {% endif %}
    </div>
</div>


<script>
    function sliderUpdate(field, pk) {
        document.getElementById("score_" + field + "_" + pk).innerText = document.getElementById("slider_" + field + "_" + pk).getElementsByClassName(field)[0].value;
        }
</script>

{% endblock %}