{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ teacher.name }}</h1>
    <small>
        {{ teacher.position }} |&nbsp;
        Кафедра: <a href="{% url 'demo_site_department' teacher.departments.title %}">
    {{ teacher.departments.title }}
    </a>
    </small>
    {% if user.is_authenticated %}
<!--    ОСТАВИТЬ КОММЕНТАРИЙ-->
    <h3>Оставьте комментарий:</h3>
    <form action="/demo_site/teacher/{{ teacher.pk }}/" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
    {% else %}
    <div class="card">
    <div class="card-header">
    Оставить комментарий
    </div>
    <div class="card-body">
    <p class="card-text">Чтобы оставлять комментарии необходимо войти в аккаунт!</p>
    <a href="/user/login" class="btn btn-primary">Войти</a>
    </div>
    </div>
<!--    <h3>Чтобы оставлять комментарии необходимо войти в аккаунт!</h3>-->
    {% endif %}


    <h3>Комментарии:</h3>
    {% for comment in comments %}
    <p>
        On {{comment.created_on.date }}&nbsp;
        <b>{{ comment.author }}</b> Пишет:
    </p>
    <fieldset><p>{{ comment.body }}</p></fieldset>
    {% if comment.author == request.user.username %}
        <a href="{% url 'comment_deletion' comment.pk %}">Удалить</a>
        <a href="{% url 'comment_edit' comment.pk %}">Изменить</a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}