{% extends "base.html" %}
{% block page_content %}
{% load static %}


<div class="col-md-8 offset-md-2">
    <div class="container" style="max-width: 1200px;
    background-color: rgb(255 255 255 / 75%);
    backdrop-filter: blur(100px);
    padding-top: 20px;
    border-radius: 30px; padding-bottom: 10px;">
        <h1>Кафедры</h1>
        <hr>
        {% for department in departments %}
            <h2><a href="{% url 'demo_site_department' department.title %}">{{ department.title }}</a></h2>
        {% endfor %}
    </div>
</div>

{% endblock %}