<script>
  $(document).ready(function(){
  $(document).on('click', '#like', function(event){
    event.preventDefault();
    var pk = $(this).attr('value');
    console.log(pk);
    $.ajax({
      type: 'POST',
      url: '{% url "likes" %}',
      data: {
            'pk': pk,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response){
              $('#like-section').html(response['form'])
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
     });
})
</script>

{{ total_likes }} Like
{{ is_liked }}

{% if request.user.is_authenticated %}
<form action="{% url 'likes' %" method="POST">
    {% csrf_token %}
    {% if is_liked %}
        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-danger">Dislike</button>
    {% else %}
        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-primary">Like</button>
    {% endif %}
</form>
{% endif %}