{% load static %}
<link href="{% static 'css/styles/demo_site/like_section.css' %}" rel="stylesheet" type="text/css" />


{% if request.user.is_authenticated %}
<div class="container" style="margin-left: 30px;">

<form action="{% url 'dislikes' %}" method="POST" style="ax-width:20px;">
    {% csrf_token %}
    {% if is_disliked %}
<!--        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-danger">Dislike</button>-->
    <button type="submit" class="vote-btn" id="dislike" name="dislike" value="{{ comment.pk }}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"  style="color: red;">{{ comment.dislikes.count }}</i></button>
    {% else %}
<!--        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-primary">Like</button>-->
    <button type="submit" class="vote-btn" id="dislike" name="dislike" value="{{ comment.pk }}"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true" style="color: #AAA;">{{ comment.dislikes.count }}</i></button>
    {% endif %}
</form>

<form action="{% url 'likes' %}" method="POST" style="ax-width:20px;">
    {% csrf_token %}
    {% if is_liked %}
<!--        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-danger">Dislike</button>-->
    <button type="submit" class="vote-btn" id="like" name="like" value="{{ comment.pk }}" ><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"  style="color: green;">{{ comment.likes.count }}</i></button>
    {% else %}
<!--        <button type="submit" id="like" name="post_id" value="{{ comment.pk }}" class="btn btn-primary">Like</button>-->
    <button type="submit" class="vote-btn" id="like" name="like" value="{{ comment.pk }}"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true" style="color: #AAA;">{{ comment.likes.count }}</i></button>
    {% endif %}

</form>


</div>
{% endif %}