<script>
    function sliderUpdate(field, pk) {
        document.getElementById("score_" + field + "_" + pk).innerText = document.getElementById("slider_" + field + "_" + pk).getElementsByClassName(field)[0].value;
        }
</script>


<div class = "collapse" id = "collapse{{ teacher.pk }}">
        <div class="vote-card shadow">
            <h6>Оценить: {{ teacher.name }}</h6>
            <hr>
                {% for field in vote_form %}
                    <div class="row">
                        <div class="col-10" id="slider_{{field.name}}_{{teacher.pk}}" onchange="sliderUpdate('{{field.name}}', {{teacher.pk}})">
                            {{field.label}}
                            <p>{{field}}</p>
                        </div>
                        <div class="col-2 my-auto">
                            <h6 class="text-center"><span id="score_{{field.name}}_{{teacher.pk}}" class="text-primary">6</span></h6>
                        </div>
                    </div>
                {% endfor %}
                <div class="text-right">
                <button id = "ajaxTest" value="{{ teacher.pk }}" class="btn btn-secondary">Оценить</button>
                </div>
        </div>
</div>


<script>
  $("#ajaxTest").click(function () {
  var pk = $(this).attr('value');
  var communication = document.getElementById("score_" + "communication" + "_" + pk).innerText;
  var teaching = document.getElementById("score_" + "teaching" + "_" + pk).innerText;
  var demanding = document.getElementById("score_" + "demanding" + "_" + pk).innerText;
    $.ajax({
      url: "{% url 'voting' %}",
      type: "POST",
      data: {communication: communication, teaching: teaching, demanding: demanding, 'csrfmiddlewaretoken': '{{ csrf_token }}', 'pk': pk},
      success: function (data) {
        alert(data)
      }
    })
  })
</script>